body{
    font-family: Verdana, Helvetica, sans-serif;
}

.form-group{
    width:90%;
    display:block;
}
input.form-control{
    display:block;
    width:90%;
    border: 1px solid #999999;
}
div.form-group label{
    display: block;
}
