<h2>Addressbook</h2>
<div>
    <a href="{{app_url}}/index.php/add">New Entry</a>
</div>

<table class="table" width="90%" border="1">
    <thead>
    <th>ID</th>
    <th>First Name
    <a href="{{app_url}}/index.php/list/1/1">&#x2191;</a>
    <a href="{{app_url}}/index.php/list/1/2">&#x2193;</a>

    </th>
    <th>Second Name
        <a href="{{app_url}}/index.php/list/2/1">&#x2191;</a>
        <a href="{{app_url}}/index.php/list/2/2">&#x2193;</a>

    </th>
    <th>Street</th>
    <th>House Number</th>
    <th>ZIP</th>
    <th>City
        <a href="{{app_url}}/index.php/list/3/1">&#x2191;</a>
        <a href="{{app_url}}/index.php/list/3/2">&#x2193;</a>

    </th>
    <th>State</th>
    <th>Phone
        <a href="{{app_url}}/index.php/list/4/1">&#x2191;</a>
        <a href="{{app_url}}/index.php/list/4/2">&#x2193;</a>

    </th>
    <th>Mobile</th>
    <th></th>
    <th></th>
    </thead>
    {{ROWS}}
</table>
